<div class="relative z-10 bg-blue-100 min-h-screen w-full">
  <nav class="bg-blue-100 p-6 mb-4 shadow-lg rounded-lg">
    <div class="flex justify-center items-center">
      <h1 class="text-3xl font-semibold justify-center text-blue-800">Task Manager</h1>

      <!-- Logout Button -->
      <button *ngIf="isLoggedIn()"
              (click)="logout()"
              class="ml-auto bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-6 rounded-md transition duration-300 ease-in-out transform hover:scale-105">
        Logout
      </button>
    </div>
  </nav>

  <!-- Main Content Area (where components are rendered) -->
  <router-outlet></router-outlet>
</div>