<div class="flex items-center justify-start gap-6 mx-auto my-5">
  <div class="flex-grow">
    <form method="POST" (ngSubmit)="handleSubmit()" class="max-w-md md:max-w-lg lg:max-w-xl mx-auto m-3 p-2 rounded-md bg-blue-100 flex flex-col justify-evenly">
      <p class="font-semibold text-black mt-1">Task</p>
      <input
        type="text"
        placeholder="Enter your task name"
        class="p-2 rounded-md font-semibold"
        [(ngModel)]="name"
        name="name"
        (ngModelChange)="handleChange()"
        autofocus
      />
      <p class="font-semibold text-black mt-1">Description</p>
      <textarea
        rows="3"
        cols="10"
        placeholder="Enter your task description"
        class="p-2 rounded-md font-semibold text-black my-2"
        [(ngModel)]="description"
        name="description"
        (ngModelChange)="handleChange()"
      ></textarea>

      <p class="font-semibold text-black mt-1">Assigned</p>
      <input
        type="date"
        name="createdAt"
        class="p-2 rounded-md font-semibold text-black my-2"
        [(ngModel)]="createdAt"
        name="createdAt"
        (ngModelChange)="handleChange()"
        autofocus
      />

      <p class="font-semibold text-black mt-1">Deadline</p>
      <input
        type="date"
        name="deadline"
        class="p-2 rounded-md font-semibold text-black my-2"
        [(ngModel)]="deadline"
        name="deadline"
        (ngModelChange)="handleChange()"
        autofocus
      />
      <br>
      <button
        type="submit"
        [disabled]="disable"
        class="bg-blue-500 hover:bg-blue-600 p-2 rounded-md text-white font-semibold"
      >
        Add
      </button>
      <br>
    </form>
  </div>
</div>
