<!-- Token Verified Message (Top Right) -->
<div *ngIf="showTokenMessage" class="fixed bottom-4 right-4 bg-green-500 text-white px-4 py-2 rounded-md shadow-lg">
  <p>Token Verified!!</p>
</div>

<div class="max-w-md md:max-w-lg lg:max-w-xl mx-auto m-3 p-2 rounded-md bg-blue-100 flex flex-col justify-evenly">
  <h2 class="font-semibold text-black text-center">Login</h2>

  <form (ngSubmit)="login()" class="flex flex-col">
    <input 
      type="email" 
      [(ngModel)]="email" 
      name="email" 
      placeholder="Email" 
      required 
      class="p-2 rounded-md font-semibold text-black my-2" />

    <input 
      type="password" 
      [(ngModel)]="password" 
      name="password" 
      placeholder="Password" 
      required 
      class="p-2 rounded-md font-semibold text-black my-2" />


    <button 
      type="submit" 
      class="bg-blue-500 hover:bg-blue-600 p-2 rounded-md text-white font-semibold mt-2">
      Login
    </button>
  </form>

  <!-- Redirect Message Below Submit Button -->
  <p *ngIf="showRedirectMessage" class="text-green-500 text-center mt-2 font-semibold">
    Redirecting to Dashboard...
  </p>

  <!-- Error Message -->
  <p *ngIf="errorMessage" class="text-red-500 text-center mt-2">{{ errorMessage }}</p>

  <a routerLink="/register" class="text-blue-600 text-center mt-2">Don't have an account? Register</a>
</div>
